<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
  <body>
    <%- include('../partials/nav.ejs'); %>
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <form class="crud-form" action="/jobApps/<%=jobApp._id%>?_method=PUT" method="POST">
        <%- include('../partials/forms/selectInput.ejs', {
          fieldName: "company",
          fieldLabel: "Company",
          fieldValue: String(jobApp.company?._id),
          fieldOptions: companies.map(company=>{return {value: String(company._id), label: company.name}})
        })%>
        <%- include('../partials/forms/selectInput.ejs', {
          fieldName: "resume",
          fieldLabel: "Resume",
          fieldValue: String(jobApp.resume?._id),
          fieldOptions: resumes.map(resume=>{return {value: String(resume._id), label: resume.name}})
        })%>
        <%- include('../partials/forms/textInput.ejs', {
          fieldName: "title",
          fieldLabel: "Title",
          fieldValue: jobApp.title
        }) %>
        <%- include('../partials/forms/selectInput.ejs', {
          fieldName: "status",
          fieldLabel: "Application Status",
          fieldValue: jobApp.status,
          fieldOptions: [
            {
              value: "Applied",
              label: "Applied"
            },
            {
              value: "Interviewing",
              label: "Interviewing"
            },
            {
              value: "Offer",
              label: "Offer"
            },
            {
              value: "Rejected",
              label: "Rejected"
            }
          ]
        })%>

        <%- include('../partials/forms/selectInput.ejs', {
          fieldName: "source",
          fieldLabel: "Application Source",
          fieldValue: jobApp.source,
          fieldOptions: [
            {
              value: "LinkedIn",
              label: "LinkedIn"
            },
            {
              value: "Indeed",
              label: "Indeed"
            },
            {
              value: "Company Site",
              label: "Company Site"
            },
            {
              value: "Networking",
              label: "Networking"
            }
          ]
        })%>
  
        <%- include('../partials/forms/selectInput.ejs', {
          fieldName: "priority",
          fieldLabel: "Application Priority",
          fieldValue: jobApp.priority,
          fieldOptions: [
            {
              value: "Low",
              label: "Low"
            },
            {
              value: "Medium",
              label: "Medium"
            },
            {
              value: "High",
              label: "High"
            }
          ]
        })%>

        <%- include('../partials/forms/textInput.ejs', {
          fieldName: "url",
          fieldLabel: "Link",
          fieldValue: jobApp.url
        }) %>

        <%- include('../partials/forms/dateInput.ejs', {
          fieldName: "appliedAt",
          fieldLabel: "Applied At",
          fieldValue: jobApp.appliedAt ? jobApp.appliedAt.toISOString().slice(0,10) : new Date().toISOString().slice(0,10)
        }) %>

        <div class="actions">
          <button type="submit">Save Application</button>
        </div>
      </form>
    </main>
  </body>
</html>
