<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>

  <body>
    <%- include('../partials/nav.ejs');%>
    
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <div class="card">
        <div class="card-header">
          <div><strong>Company:</strong> <%= jobApp.company.name %></div>
          <div><strong>Job Title:</strong> <%= jobApp.title %></div>
        </div>
        <div><strong>Resume:</strong> <a href="/resumes/<%= jobApp.resume._id %>">Resume</a></div>
        <div><strong>Status:</strong> <span class="status status-<%= jobApp.status.toLowerCase() %>"><%= jobApp.status %></span></div>
        <div><strong>Priority:</strong> <span class="priority priority-<%= jobApp.priority.toLowerCase() %>"><%= jobApp.priority %></span></div>
        <div><strong>Source:</strong> <%= jobApp.source %></div>
        <div>
          <strong>Applied At:</strong> <%= new
          Date(jobApp.appliedAt).toLocaleDateString() %>
        </div>
        <div>
          <strong>Archived:</strong> <%= jobApp.archived ? 'Yes' : 'No' %>
        </div>
        <% if(jobApp.url){ %>
        <div>
          <strong>Link:</strong>
          <a href="<%= jobApp.url %>" target="_blank">View Application</a>
        </div>
        <% } %>
        <div class="actions">
          <a href="/jobApps/<%=jobApp._id%>/edit" class="btn btn-primary btn-sm">Edit</a>
          <form action="/jobApps/<%=jobApp._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>