<div class="field">
  <label for="<%= fieldName %>"> <%= fieldLabel %> </label>
  <input
    type="text"
    name="<%= fieldName %>"
    id="<%= fieldName %>>"
    value="<%=fieldValue%>"
  />
</div>
