<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>

    <body>
        <%- include('../partials/nav.ejs'); %>

        <main class="page-container">
        <%- include('../partials/pageHeader.ejs'); %>

            <form class="crud-form" action="/resumes" method="POST">
                <%- include('../partials/forms/textInput.ejs', {
                    fieldName: "name",
                    fieldLabel: "Name",
                    fieldValue: "",
                    required: true
                })%>

                <%- include('../partials/forms/textInput.ejs', {
                    fieldName: "link",
                    fieldLabel: "Link",
                    fieldValue: ""
                })%>

                <%- include('../partials/forms/textInput.ejs', {
                    fieldName: "notes",
                    fieldLabel: "Notes",
                    fieldValue: ""
                })%>

                <div class="field">
                    <label for="summary">Objective Statement</label>
                    <textarea name="summary" id="summary"></textarea>
                </div>

                <%- include('./experiencePartial.ejs', {companies}); %>
                <%- include('./educationPartial.ejs'); %>
                <%- include('./projectsPartial.ejs'); %>
                <%- include('./certificationsPartial.ejs'); %>


                <div class="actions">
                    <button type="submit">Add Resume</button>
                </div>
            <%-include('repeatableFieldGroup.ejs') %>
            </form>


        </main>
    </body>
</html>