<div class="field">
  <label for="<%= fieldName %>"> <%= fieldLabel %> </label>
  <input
    type="checkbox"
    name="<%= fieldName %>"
    id="<%= fieldName %>>"
    <%= (checked===true)?"checked":"" %>
  />
</div>
