<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
  <body>
    <%- include('../partials/nav.ejs'); %>

    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>

      <form
        class="crud-form"
        action="/companies/<%=company._id%>?_method=PUT"
        method="POST"
      >
       <%- include('../partials/forms/textInput.ejs', {
          fieldName: "name",
          fieldLabel: "Name",
          fieldValue: company.name
        }) %>

       <%- include('../partials/forms/textInput.ejs', {
          fieldName: "website",
          fieldLabel: "Website",
          fieldValue: company.website
        }) %>

       <%- include('../partials/forms/textInput.ejs', {
          fieldName: "description",
          fieldLabel: "Description",
          fieldValue: company.description
        }) %>

       <%- include('../partials/forms/textInput.ejs', {
          fieldName: "notes",
          fieldLabel: "Notes",
          fieldValue: company.notes
        }) %>

        <div class="actions">
          <button type="submit">Save Company</button>
        </div>
      </form>
    </main>
  </body>
</html>
