<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
  <body>
    <%- include('../partials/nav.ejs')%>
    
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <a class="btn btn-primary btn-lg" href="/companies/new">+ ADD COMPANY</a>

      <div class="table-container">
        <div class="table-header">
          <div>Company</div>
          <div>Website</div>
          <div>Description</div>
          <div>Notes</div>
          <div>Actions</div>
        </div>

        <div class="table-body">
          <% companies.forEach(company => { %>
          <div class="table-row">
            <div><%= company.name %></div>
            <div><%= company.website %></div>
            <div><%= company.description %></div>
            <div><%= company.notes %></div>
            <div class="actions">
              <a href="/companies/<%=company._id%>" class="btn btn-warning btn-sm">View</a>
              <a href="/companies/<%=company._id%>/edit" class="btn btn-primary btn-sm">Edit</a>
              <form action="/companies/<%=company._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </main>
  </body>
</html>