<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>

  <body>
    <%- include('../partials/nav.ejs');%>
    
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <div class="card">
        <div class="card-header">
          <div><strong>Company:</strong> <%= company.name %></div>
        </div>
        <div><strong>Description:</strong> <p><%= company.description %></p></div>
        <div><strong>Notes:</strong> <p><%= company.notes %></p></div>

        <% if(company.website){ %>
        <div>
          <strong>Link:</strong>
          <a href="<%= company.website %>" target="_blank">Website</a>
        </div>
        <% } %>
        <div class="actions">
          <a href="/companies/<%=company._id%>/edit" class="btn btn-primary btn-sm">Edit</a>
          <form action="/companies/<%=company._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
      <h2>Job Applications</h2>
      <div class="table-container">
        <div class="table-header">
          <div>Job Title</div>
          <div>Status</div>
          <div>Priority</div>
          <div>Source</div>
          <div>Actions</div>
        </div>

        <div class="table-body">
          <% jobApps.forEach(app => { %>
          <div class="table-row">
            <div><%= app.title %></div>
            <div><span class="status status-<%= app.status.toLowerCase()%>"><%= app.status %></span></div>
            <div><span class="priority priority-<%= app.priority.toLowerCase()%>"><%= app.priority %></span></div>
            <div><%= app.source %></div>
            <div class="actions">
              <a href="/jobApps/<%=app._id%>" class="btn btn-warning btn-sm">View</a>
              <a href="/jobApps/<%=app._id%>/edit" class="btn btn-primary btn-sm">Edit</a>
              <form action="/jobApps/<%=app._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </main>
  </body>
</html>