<div class="field">
    <label>
        <%= fieldLabel %>
    </label>
    <select name="<%= fieldName %>">
        <% for(let i = 0; i < fieldOptions.length; i ++){ %>
            <option 
                value="<%= fieldOptions[i].value %>" 
                <%= fieldValue===fieldOptions[i].value ? "selected" : "" %>
            >
                <%= fieldOptions[i].label %>
            </option>
        <% } %>
    </select>
</div>